[submodule "site-lisp/git-modes"]
	path = site-lisp/git-modes
	url = git@github.com:magit/git-modes.git
[submodule "site-lisp/git-timemachine"]
	path = site-lisp/git-timemachine
	url = git@github.com:emacsmirror/git-timemachine.git
[submodule "site-lisp/transient"]
	path = site-lisp/transient
	url = git@github.com:magit/transient.git
[submodule "site-lisp/dash"]
	path = site-lisp/dash
	url = git@github.com:magnars/dash.el.git
[submodule "site-lisp/with-editor"]
	path = site-lisp/with-editor
	url = git@github.com:magit/with-editor.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = git@github.com:magit/magit.git
[submodule "libgit2"]
	path = site-lisp/libgit2
	url = https://github.com/magit/libegit2.git
[submodule "site-lisp/magit-todos"]
	path = site-lisp/magit-todos
	url = git@github.com:alphapapa/magit-todos.git
[submodule "site-lisp/emacs-async"]
	path = site-lisp/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
[submodule "site-lisp/f"]
	path = site-lisp/f
	url = https://github.com/rejeep/f.el.git
[submodule "site-lisp/s"]
	path = site-lisp/s
	url = https://github.com/magnars/s.el.git
[submodule "site-lisp/hl-todo"]
	path = site-lisp/hl-todo
	url = https://github.com/tarsius/hl-todo.git
[submodule "site-lisp/pcre2el"]
	path = site-lisp/pcre2el
	url = https://github.com/joddie/pcre2el.git
[submodule "site-lisp/fullframe"]
	path = site-lisp/fullframe
	url = https://github.com/tomterl/fullframe.git
[submodule "site-lisp/evil"]
	path = site-lisp/evil
	url = https://github.com/emacs-evil/evil.git
[submodule "site-lisp/general"]
	path = site-lisp/general
	url = https://github.com/noctuid/general.el.git
[submodule "site-lisp/lim"]
	path = site-lisp/lim
	url = git@118.24.23.137:lim.git
[submodule "site-lisp/emacs-winum"]
	path = site-lisp/emacs-winum
	url = https://github.com/deb0ch/emacs-winum.git
[submodule "site-lisp/evil-surround"]
	path = site-lisp/evil-surround
	url = https://github.com/emacs-evil/evil-surround.git
[submodule "site-lisp/evil-visualstar"]
	path = site-lisp/evil-visualstar
	url = https://github.com/bling/evil-visualstar.git
[submodule "site-lisp/evil-exchange"]
	path = site-lisp/evil-exchange
	url = https://github.com/Dewdrops/evil-exchange.git
[submodule "site-lisp/diminish"]
	path = site-lisp/diminish
	url = https://github.com/emacsmirror/diminish.git
[submodule "site-lisp/emacs-htmlize"]
	path = site-lisp/emacs-htmlize
	url = https://github.com/hniksic/emacs-htmlize.git
[submodule "site-lisp/evil-nerd-commenter"]
	path = site-lisp/evil-nerd-commenter
	url = https://github.com/redguardtoo/evil-nerd-commenter.git
[submodule "site-lisp/swiper"]
	path = site-lisp/swiper
	url = https://github.com/abo-abo/swiper.git
[submodule "site-lisp/flx"]
	path = site-lisp/flx
	url = https://github.com/lewang/flx.git
[submodule "site-lisp/smex"]
	path = site-lisp/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "site-lisp/Emacs-wgrep"]
	path = site-lisp/Emacs-wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "site-lisp/company-mode"]
	path = site-lisp/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "site-lisp/company-quickhelp"]
	path = site-lisp/company-quickhelp
	url = https://github.com/company-mode/company-quickhelp.git
[submodule "site-lisp/pos-tip"]
	path = site-lisp/pos-tip
	url = https://github.com/pitkali/pos-tip.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/joaotavora/yasnippet.git
[submodule "site-lisp/find-file-in-project"]
	path = site-lisp/find-file-in-project
	url = https://github.com/technomancy/find-file-in-project.git
[submodule "site-lisp/eglot"]
	path = site-lisp/eglot
	url = https://github.com/joaotavora/eglot.git
[submodule "site-lisp/pyvenv"]
	path = site-lisp/pyvenv
	url = https://github.com/jorgenschaefer/pyvenv.git
[submodule "site-lisp/rust-mode"]
	path = site-lisp/rust-mode
	url = https://github.com/rust-lang/rust-mode.git
[submodule "site-lisp/ivy-xref"]
	path = site-lisp/ivy-xref
	url = git@github.com:Gaeric/ivy-xref.git
[submodule "site-lisp/circadian"]
	path = site-lisp/circadian
	url = https://github.com/guidoschmidt/circadian.el.git
[submodule "site-lisp/emmet-mode"]
	path = site-lisp/emmet-mode
	url = https://github.com/smihica/emmet-mode.git
[submodule "site-lisp/web-mode"]
	path = site-lisp/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule "site-lisp/yasnippet-snippets"]
	path = site-lisp/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
