auto-save-list
elpa
.cache
recentf
anaconda-mode
.lsp-*
.smex-items
smex-items
.smex-items
.amx-items
elpy
eshell
bookmarks
/transient
tramp
/.cask
projects
/.org-timestamps
/eaf
.bookmarks.el
/custom.el
/eln-cache/
/org-roam.db
/package-quickstart.el
/package-quickstart.elc
/var/
/network-security.data
/.org-id-locations
/places
/.emacs.keyfreq
/server/
/dirvish/
/mind-wave/
/org-persist/
