[submodule "site-lisp/lim"]
	path = site-lisp/lim
	url = git@github.com:Gaeric/lim.git
[submodule "site-lisp/tree-sitter-module"]
	path = site-lisp/tree-sitter-module
	url = git@github.com:casouri/tree-sitter-module.git
[submodule "site-lisp/emacs-module-rs"]
	path = site-lisp/emacs-module-rs
	url = git@github.com:ubolonton/emacs-module-rs.git
[submodule "site-lisp/citre"]
	path = site-lisp/citre
	url = git@github.com:universal-ctags/citre.git
[submodule "site-lisp/lsp-bridge"]
	path = site-lisp/lsp-bridge
	url = git@github.com:manateelazycat/lsp-bridge.git
[submodule "site-lisp/lspce"]
	path = site-lisp/lspce
	url = git@github.com:zbelial/lspce.git
