[submodule "site-lisp/lim"]
	path = site-lisp/lim
	url = git@github.com:Gaeric/lim.git
[submodule "site-lisp/emacs-module-rs"]
	path = site-lisp/emacs-module-rs
	url = git@github.com:ubolonton/emacs-module-rs.git
[submodule "site-lisp/lspce"]
	path = site-lisp/lspce
	url = git@github.com:zbelial/lspce.git
