# -*- mode: snippet -*-
# name: python-file-template
# key: fh
# --
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
# Filename: `(file-name-nondirectory buffer-file-name)`
# Datetime: `(current-time-string)`
# Software: Emacs
# Author:   Gaeric

$0