# -*- mode: snippet -*-
# name: elsip-file-header
# key: fh
# --

;; `(file-name-nondirectory buffer-file-name)` -*- coding: utf-8; lexical-binding: t; -*-
;; $0
;; Author:  <Gaeric>
;; URL: https://github.com/Gaeric
;;
;; This file is not part of GNU Emacs.
;;
;; License: GPLv3