# -*- mode: snippet -*-
# name: c-file-template
# key: fh
# --
/*
-*- coding: utf-8 -*-
Filename: `(file-name-nondirectory buffer-file-name)`
Datetime: `(current-time-string)`
Software: Emacs
Author:   Gaeric
*/

$0